{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
	<h1>{{ post.title }}</h1>
	<p class="date">
		Published {{ post.publish }} by {{ post.author }}
	</p>
	{{ post.body|linebreaks }}
	<p>

	<button class="button" id="sendbutton">Send via emial</button>

	<div id="myDIV" class="panel" hidden>
	{% if sent %}
	<h1>E-mail successfully sent</h1>
	<p>
		"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
			</p>
		{% else %}
			<h1>Share "{{ post.title }}" by e-mail</h1>
			<form method="post">
			{{ form.as_p }}
			{% csrf_token %}
			<input type="submit" value="Send e-mail">
			</form>
		{% endif %}
	</div>

	<script>
		document.getElementById("sendbutton")
        .addEventListener("click", function() {
  		document.getElementById("myDIV").hidden = false;
		}, true);	
	</script>
{% endblock %}

{% for field in form %}

{% endfor %}